body { 
  font-size: 100%;
}

hr {
  color: #eeeeee;
}

h1,h2,h3,h4,h5,h6 {
  color: #555555;
}

div#content {
  width: 800px;
  margin: auto;
}

span.contact {
  padding-left: 10px;
}

div.profile {
  overflow: auto;
}

div.profile > img {
  width: 200px;
  height: 200px;
  margin-left: 20px;
}

table.listing {
  width: 100%;
}

table.listing > tbody > tr > td {
  padding-bottom: 5px;
}

/* Leftmost Column */
table.listing > tbody > tr > td:nth-child(1) {
  width: 120px;
  font-weight: bold;
  vertical-align: top;
}

table.listing > tbody > tr > td > div.role {
  font-weight: bold;
}

table.listing > tbody > tr > td > div.company {
  font-style: italic;
}

table.listing > tbody > tr > td > div.skills > ul {
  padding: 0;
  display: inline;
}

table.listing > tbody > tr > td > div.skills > ul >li {
  display: inline;
}
table.listing > tbody > tr > td > div.skills > ul > li:not(:first-child)::before {
  content: ", ";
}

div.progress-bar {
  margin-top: 8px;
  width: 100%;
  background-color: #eeeeee;
  border-radius: 2px;
}

div.progress-bar > div {
  height: 6px;
  border-radius: 2px;
  background-color: cornflowerblue;
}

span.note {
  color: #555555;
  font-size: smaller;
}